<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" >
</head>
<body>
    <nav class="w-screen bg-black h-16 flex flex-column items-center">
        <ul class="flex text-sm flex-row">
            <li><a href="#" class="text-white m-6">About</a></li>
            <li><a href="#" class="text-white m-6">Services</a></li>
            <li><a href="#" class="text-white border-white border py-2 px-6 m-6 hover:text-black  hover:bg-white rounded" >Login</a></li>
            <li><a href="#" class="text-white bg-black py-2 px-4 bg-red-600 hover:bg-red-700 rounded m-6">Logout</a></li>
        </ul>

    </nav>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="pic" id="pic">
        <button type="submit">Submit</button>
    
    
    
    
    </form>
    
    
</body>
</html>