<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded!</title>
    <link rel="stylesheet" href="style.css" >
</head>
<body>
    {{>header}}
    <div class="main-content flex flex-col items-center">
        <h1 class="text-4xl mt-6">Your Post was Uploaded</h1>
        <h3 class="text-2xl mt-6">Want to Upload Another One?</h3>
        <a href="/compose" class="text-blue-500">Click Here</a>

    </div>
    
    
</body>
</html>